*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol{
  list-style: none;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

body {
  background-color: #FFFAF5;
  overflow-x: hidden;
}
